.rating-button {
  text-align: center !important;
  padding: 10px !important;
}

.close-button {
  text-align: right;
  padding: 20px;
}
/* .MuiDialog-paperWidthSm {
  max-width: 800px !important;
} */
/* .review-box {
  max-width: 1000px !important;
} */
